page-wish-list {
    h1 {
		text-align: center;
	}
	ion-item-divider {
		background-color: #F6C346;
	}
	.start {
		width: 30px;
		margin-right: 15px;
	}
	ion-icon {
        font-size: 2.9em;
        padding-left: 10px;	
	}
}
